/* style.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Fondo suave */
}

.menu {
    text-align: center;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #e3f2fd; /* Color pastel */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    margin-bottom: 20px; /* Espacio entre el título y las opciones */
    font-size: 2em;
    color: #333;
}

.options {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.option {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #64b5f6; /* Azul pastel */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #42a5f5; /* Azul un poco más oscuro al pasar el mouse */
}
