*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

/* Estilos para el encabezado y la navegación */
header {
    padding: 2rem;
    background-color: #333;
    color: white;
}

h1 {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.principaltext{
    text-align: center;
}

.principaltext p{
    text-align: center;
    padding: 10px;
}

.cards{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

a {
    color: #050505;
    text-decoration: none;
    font-weight: bold;
}

.card{
padding: 1rem;
width: 25rem;
height: 20rem;
display: flex;
flex-direction: column;
align-items: center;
}

.card img{
    height: 20rem;
    width: 20rem;
}

button{
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5rem;
    width: 50%;
    padding: 10px;
    color:#fff;
}

button:hover {
    background-color: #45a049;
}