* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: crimson;
}

.nav > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  margin: 5rem;
}
i {
  display: flex;
  border-radius: 1rem;
  background-color: rgb(88, 24, 24);
  font-size: 50px;
  cursor: pointer;
}
.nav > ul > i > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  padding: 1rem;
}
