* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fondo negro */
    color: #B0B0B0; /* Texto gris claro */
    padding: 20px; 
    text-align: center; 
}

h1 {
    color: #4CAF50; /* Verde esmeralda */
}

/* Estilo del botón de volver */
#back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    background-color: #4A90E2; /* Azul */
    color: white;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
}

#back-button:hover {
    background-color: #357AB8; /* Azul más oscuro al pasar el ratón */
}

#search-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #B0B0B0; /* Borde gris claro */
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #1E1E1E; /* Fondo gris oscuro */
    color: #B0B0B0; /* Texto gris claro */
}

#fruits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fruit {
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #B0B0B0; /* Borde gris claro */
    border-radius: 5px;
    padding: 10px;
    background-color: #1E1E1E; /* Fondo gris oscuro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: calc(100% - 40px); /* Full width minus margins */
    max-width: 300px; /* Max width for each fruit card */
}

.fruit img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Media Queries para Responsividad */
@media (min-width: 600px) {
    .fruit {
        width: calc(50% - 40px); /* Two cards per row */
    }
}

@media (min-width: 900px) {
    .fruit {
        width: calc(33.33% - 40px); /* Three cards per row */
    }
}