body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.form-group input[type="file"] {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #a0c6f0;
    box-shadow: 0 0 5px rgba(81, 130, 182, 0.5);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #073664;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-buttons button:hover {
    background-color: #c4c8cc;
}

.form-buttons button:active {
    background-color: #003f7f;
}

#charactersList {
    margin-top: 20px;
}
